@keyframes blink {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.message {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  height: 2em;
}

.messageAttention {
  @extend .message;

  color: red;
}

.messageAlarm {
  @extend .messageAttention;

  animation: blink 0.7s cubic-bezier(1.0, 0, 0, 1.0) infinite both;
}
